apiVersion: apps/v1
kind: Deployment
metadata:
  name: static-site
spec:
  replicas: 2
  selector:
    matchLabels:
      app: static
  template:
    metadata:
      labels:
        app: static
    spec:
      containers:
      - name: static
        image: 762339788648.dkr.ecr.ap-south-1.amazonaws.com/static-eks-site:95
        ports:
        - containerPort: 80

